In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')

In [4]:
df.head(5)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2)

In [7]:
X_train

    age  gender  fever   cough       city
58   23    Male   98.0  Strong     Mumbai
26   19  Female  100.0    Mild    Kolkata
86   25    Male  104.0    Mild  Bangalore
33   26  Female   98.0    Mild    Kolkata
18   64  Female   98.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
75    5    Male  102.0    Mild    Kolkata
67   65    Male   99.0    Mild  Bangalore
7    20  Female    NaN  Strong     Mumbai
9    64  Female  101.0    Mild      Delhi
30   15    Male  101.0    Mild      Delhi

[80 rows x 5 columns]

## 1. Aam Zindagi

In [8]:
# Simple Imputer -> Fever
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# Also the test data
X_test_fever = si.transform(X_test[['fever']])

X_train_fever.shape
X_test_fever.shape

(20, 1)

In [9]:
# Ordinal Encoder -> Cough
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])
X_test_cough = oe.transform(X_test[['cough']])
X_train_cough.shape
X_test_cough.shape

(20, 1)

In [10]:
# One Hot Encoder -> gender, city
ohe = OneHotEncoder(drop='first', sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city = ohe.transform(X_test[['gender', 'city']])
X_train_gender_city.shape
X_test_gender_city.shape

(20, 4)

In [11]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values
X_train_age.shape

(80, 1)

In [12]:
# Combine all transformed columns
X_train_transformed = np.concatenate((X_train_age, X_train_fever, X_train_gender_city, X_train_cough),axis=1)
X_train_transformed.shape

(80, 7)

In [13]:
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)
X_test_transformed.shape

(20, 7)

In [14]:
X_train_transformed=np.round(pd.DataFrame(X_train_transformed),0)
X_train_transformed

       0      1    2    3    4    5    6
0   23.0   98.0  1.0  0.0  0.0  1.0  1.0
1   19.0  100.0  0.0  0.0  1.0  0.0  0.0
2   25.0  104.0  1.0  0.0  0.0  0.0  0.0
3   26.0   98.0  0.0  0.0  1.0  0.0  0.0
4   64.0   98.0  0.0  0.0  0.0  0.0  0.0
..   ...    ...  ...  ...  ...  ...  ...
75   5.0  102.0  1.0  0.0  1.0  0.0  0.0
76  65.0   99.0  1.0  0.0  0.0  0.0  0.0
77  20.0  101.0  0.0  0.0  0.0  1.0  1.0
78  64.0  101.0  0.0  1.0  0.0  0.0  0.0
79  15.0  101.0  1.0  1.0  0.0  0.0  0.0

[80 rows x 7 columns]

In [15]:
X_test_transformed=np.round(pd.DataFrame(X_test_transformed),0)
X_test_transformed

       0      1    2    3    4    5    6
0   34.0   98.0  1.0  0.0  1.0  0.0  1.0
1   34.0  101.0  0.0  1.0  0.0  0.0  1.0
2   81.0   98.0  0.0  0.0  0.0  1.0  1.0
3   65.0   99.0  1.0  1.0  0.0  0.0  0.0
4   27.0  100.0  1.0  1.0  0.0  0.0  0.0
5   20.0  101.0  0.0  0.0  0.0  0.0  0.0
6    5.0  100.0  0.0  0.0  1.0  0.0  0.0
7   64.0  102.0  1.0  0.0  0.0  0.0  0.0
8   42.0  101.0  0.0  0.0  0.0  0.0  1.0
9   25.0   99.0  0.0  0.0  1.0  0.0  1.0
10  13.0  100.0  0.0  0.0  1.0  0.0  1.0
11  66.0   99.0  1.0  0.0  0.0  0.0  1.0
12  80.0   98.0  0.0  1.0  0.0  0.0  0.0
13  17.0  104.0  0.0  0.0  1.0  0.0  0.0
14  27.0  100.0  1.0  0.0  1.0  0.0  0.0
15  49.0  101.0  0.0  1.0  0.0  0.0  0.0
16  11.0  100.0  1.0  0.0  0.0  0.0  0.0
17  75.0  101.0  0.0  1.0  0.0  0.0  0.0
18  27.0  100.0  1.0  1.0  0.0  0.0  0.0
19  73.0  103.0  0.0  1.0  0.0  0.0  0.0

## 2. Mentos Zindagi

In [22]:
from sklearn.compose import ColumnTransformer

In [28]:
transformer = ColumnTransformer(
    transformers=[
        ('ct1', SimpleImputer(), ['fever']),
        ('ct2', OrdinalEncoder(categories=[['Mild','Strong']]), ['cough']),
        ('ct3', OneHotEncoder(sparse_output=False, drop='first'), ['gender','city'])
    ],
    remainder='passthrough'
)

In [29]:
transformer.fit_transform(X_train).shape

(80, 7)

In [30]:
transformer.transform(X_test).shape

(20, 7)