In [23]:
import pandas as pd
import numpy as np

In [24]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [25]:
df = pd.read_csv('covid_toy.csv')

In [26]:
df.head(5)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [27]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2)

In [29]:
X_train

    age  gender  fever   cough       city
57   49  Female   99.0  Strong  Bangalore
41   82    Male    NaN    Mild    Kolkata
22   71  Female   98.0  Strong    Kolkata
77    8  Female  101.0    Mild    Kolkata
64   42    Male  104.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
27   33  Female  102.0  Strong      Delhi
19   42  Female    NaN  Strong  Bangalore
83   17  Female  104.0    Mild    Kolkata
21   73    Male   98.0    Mild  Bangalore
68   54  Female  104.0  Strong    Kolkata

[80 rows x 5 columns]

## 1. Aam Zindagi

In [30]:
# Simple Imputer -> Fever
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# Also the test data
X_test_fever = si.transform(X_test[['fever']])

X_train_fever.shape
X_test_fever.shape

(20, 1)

In [31]:
# Ordinal Encoder -> Cough
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])
X_test_cough = oe.transform(X_test[['cough']])
X_train_cough.shape
X_test_cough.shape

(20, 1)

In [32]:
# One Hot Encoder -> gender, city
ohe = OneHotEncoder(drop='first', sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city = ohe.transform(X_test[['gender', 'city']])
X_train_gender_city.shape
X_test_gender_city.shape

(20, 4)

In [33]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values
X_train_age.shape

(80, 1)

In [34]:
# Combine all transformed columns
X_train_transformed = np.concatenate((X_train_age, X_train_fever, X_train_gender_city, X_train_cough),axis=1)
X_train_transformed.shape

(80, 7)

In [35]:
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)
X_test_transformed.shape

(20, 7)

In [43]:
X_train_transformed=np.round(pd.DataFrame(X_train_transformed),0)
X_train_transformed

       0      1    2    3    4    5    6
0   50.0  100.0  0.0  0.0  0.0  0.0  0.0
1   80.0  100.0  0.0  0.0  0.0  0.0  0.0
2   70.0  100.0  0.0  0.0  0.0  0.0  0.0
3   10.0  100.0  0.0  0.0  0.0  0.0  0.0
4   40.0  100.0  0.0  0.0  0.0  0.0  0.0
..   ...    ...  ...  ...  ...  ...  ...
75  30.0  100.0  0.0  0.0  0.0  0.0  0.0
76  40.0  100.0  0.0  0.0  0.0  0.0  0.0
77  20.0  100.0  0.0  0.0  0.0  0.0  0.0
78  70.0  100.0  0.0  0.0  0.0  0.0  0.0
79  50.0  100.0  0.0  0.0  0.0  0.0  0.0

[80 rows x 7 columns]

In [44]:
X_test_transformed=np.round(pd.DataFrame(X_test_transformed),0)
X_test_transformed

       0      1    2    3    4    5    6
0   15.0  101.0  1.0  1.0  0.0  0.0  0.0
1   19.0  101.0  0.0  0.0  0.0  1.0  0.0
2   20.0  101.0  0.0  0.0  0.0  1.0  1.0
3   73.0  103.0  0.0  1.0  0.0  0.0  0.0
4   27.0  100.0  1.0  1.0  0.0  0.0  0.0
5   34.0  101.0  0.0  0.0  0.0  1.0  1.0
6   65.0   99.0  1.0  1.0  0.0  0.0  0.0
7   38.0  101.0  1.0  1.0  0.0  0.0  0.0
8   82.0  102.0  0.0  0.0  0.0  0.0  1.0
9   69.0  102.0  0.0  0.0  0.0  0.0  0.0
10  64.0   98.0  0.0  0.0  0.0  0.0  0.0
11  11.0  100.0  1.0  0.0  0.0  0.0  0.0
12  64.0  102.0  1.0  0.0  0.0  0.0  0.0
13  56.0  104.0  0.0  0.0  0.0  0.0  1.0
14  20.0  101.0  0.0  0.0  0.0  0.0  0.0
15  27.0  100.0  1.0  1.0  0.0  0.0  0.0
16  84.0  101.0  0.0  0.0  0.0  0.0  0.0
17  82.0  102.0  0.0  0.0  1.0  0.0  1.0
18  40.0   98.0  0.0  1.0  0.0  0.0  1.0
19  69.0   98.0  0.0  0.0  0.0  1.0  1.0